<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="URI receiver (QA only)" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false"><activity android:name=".Receiver" android:theme="@android:style/Theme.NoDisplay" android:exported="true"><intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="obsidian"/></intent-filter></activity><activity android:name=".FrameExporter" android:exported="true"/></application></manifest>
